 body{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-around ;
    align-items: center;
}
.nav-title{
    font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.primary{
    color:#FD6E0A ;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
   
}
nav a{
    text-decoration: none;
    color: #474747;
}
.btn-primary{
    width: 100px;
height: 50px;
border: 0px;
color: white;
border-radius: 5px;
background: #FD6E0A;
}